.container {
    user-select: none;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: .2rem;
}

.todo {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-bottom: 2px solid #d6d6da;
    width: 60%;
    padding: .3rem;
    font-size: 1.3rem;
    display: flex;
    justify-content: space-between;
    word-break: break-all;
}

.copy {
    width: 30px;
    height: auto;
    max-height: 35px;

    &:hover {
        background-color: rgba(239, 239, 239, 0.859);
        border-radius: 10px;
    }

    &:active {
        background-color: rgba(102, 102, 102, 0.343);
        border-radius: 10px;
    }
}

.checked {
    text-decoration: line-through;
}